<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Libreria Renacer</title>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIBCYgv_mbK9taP8tYYEXaYGAur7CM6sw&callback=initMap"
    type="text/javascript"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css'>

       

      <link rel="stylesheet" href="css/style.css">

      <header>
        <nav>
          <div class="menu-container">
            <!-- Menu -->
            <ul class="menu">
              <li class="menu-apple" style="padding-top:2.8%">
                <img src="http://www.renacerlibreria.com/wp-content/uploads/2019/03/cropped-LOGO.jpg" width="100" height="50" alt="Computer Hope" >
                  </a>
              </li>
              <li class="menu-mac" style="margin-bottom:3%">
                <a href="#">
                  <span>Inicio</span>
                </a>
              </li>
              <li class="menu-mac" style="margin-bottom:3%">
                <a href="/contacto">
                  <span>Contacto</span>
                </a>
              </li>
              <li class="menu-mac" style="margin-bottom:3%">
                <a href="#">
                  <span>Telefono: 11 3648-5582</span>
            </ul>

          </div>
        </nav>
        </header>


</head>

<body>



	{{#block "contenido"}}
	{{/block}}



</body>

</html>







