{{#partial "contenido"}}

  <form class="search">
  <input class="search-input" id="input" type="text" autocomplete="off"/>
  <label class="search-label" for="input"></label>
  <button class="search-button" type="reset"></button>
  <div class="search-border"></div>
  <div class="search-close">x</div>
</form>

  <div id="root"></div>
  <script src="scripts.js"></script>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>



    <script  src="../js/index.js"></script>





{{/partial}}

{{>layout.hbs}}