{{#partial "contenido"}}

  <div class="map">
  <div id="map"></div>
  <div class="map-c">
    <h1>Libreria Renacer </h1>
    <p>Nos encontramos en el mitico barrio de Saavedra, a una cuadra de la estacion Drago</p>
    <div class="det"><i class="fa fa-map-marker"></i> Mariano Acha 2593, CABA, Argentina</div>
    <div class="det"><i class="fa fa-phone"></i> 11 3648-5582 </div>
    <center>
      <button class="fa fa-car"></button>
      <button class="fa fa-envelope"></button>
    </center>
  </div>
</div>

    <script  src="js/indexmap.js"></script>


{{/partial}}

{{>layout.hbs}}